<!--suppress HtmlUnknownAnchorTarget, HtmlUnknownTarget -->

<navbar></navbar>

<div [mnFullpage]="options"
     [mnFullpageNavigation]="true"
     [mnFullpageKeyboardScrolling]="true"
     [mnFullpageSlidesNavigation]="true"
     [mnFullpageSlidesNavPosition]="bottom">


    <home class="section slides-section fp-section fp-table"></home>
    <drumming class="section welcome-section fp-section fp-table"></drumming>

    <!-- 3rd Section -->
    <div class="section install-section fp-section fp-table">
        <h1>Recording</h1>
        <div class="code-block">
            <pre>
                <code class="bash">{{templates.install}}</code>
            </pre>
        </div>
    </div>
    <!-- / 3rd Section -->

    <!-- 4th Section -->
    <div class="section usage-section fp-section fp-table">
        <h1>Easy to use !</h1>
        <div class="code-block">
            <pre>
                <code class="html">{{templates.usage}}</code>
            </pre>
        </div>
    </div>
    <!-- / 4th Section -->

    <!-- 5th Section -->
    <div class="section usage-section fp-section fp-table">
        <h1>Get full control on the page !</h1>
        <div class="code-block">
            <pre>
                <code class="html">{{templates.service}}</code>
            </pre>
        </div>
    </div>
    <!-- / 5th Section -->
</div>
