<div>
    <div class="slide">
        <h1>Home</h1>
        <h4>Use keyboard arrows or navigation below to slide right</h4>
    </div>
    <div class="slide">
        <h1>Configure it via attributes</h1>
        <div class="code-block">
                <pre>
                    <code class="html">{{templates.slides.attributes}}</code>
                </pre>
        </div>
    </div>
    <div class="slide">
        <h1>Use configuration object instead</h1>
        <div class="code-block">
                <pre>
                    <code class="javascript">{{templates.slides.classOptions}}</code>
                </pre>
        </div>
    </div>
    <div class="slide">
        <h1>Or MIX IT !</h1>
        <div class="code-block">
                <pre>
                    <code class="javascript">{{templates.slides.mix}}</code>
                </pre>
        </div>
    </div>
</div>
